name: Publish to PyPi
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/poetry-plugin-pypi-proxy
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: astral-sh/setup-uv@v6
      - name: Ensure version matches
        run: |
          GIT_VERSION=${GITHUB_REF#refs/tags/v}
          FILE_VERSION=$(uv run -- python -c "import tomllib; print(tomllib.load(open('pyproject.toml', 'rb'))['project']['version'])")
          if [ "$GIT_VERSION" != "$FILE_VERSION" ]; then
            echo "error: git version does not match file version ('${GIT_VERSION}' != '${FILE_VERSION}')"
            exit 1
          fi
      - name: Test
        run: |
          uv run -- pytest
      - name: Build
        run: |
          uv build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
